* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #161717; /*0e0f10*/
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link-container {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    width: 100%;        
    background-color: #0e0e0e;   
}

.link-container h1 {
    color: #1DA1F2;             
    text-align: center;          
    padding-top: 10px;                
}


.link-container a {
    text-decoration: none;                   
    transition: color 0.3s;     
}

.link-container a:hover {
    color: #ffffff;              
    text-decoration: underline;  
}

.subtitle-container {
    display: flex;              
    justify-content: center;   
    align-items: center;       
    width: 100%;    
}

.subtitle-container h1 {
    font-size: 24px; 
    color: #656566;
}

.video-placeholder {
    display: flex;            
    justify-content: center;      
    align-items: center;         
    margin-bottom: 20px; 
    width: 100%;                 
}

.video-placeholder video {
    max-width: 60%;             
    height: auto;                 
    /*border: 2px solid #1DA1F2; */
    border-radius: 10px;         
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 1200px; 
    margin: 0 auto;
}

.box {
    background-color: #262729; 
    border: 2px solid #148ad3; 
    border-radius: 5px;
    padding: 20px;
    margin: 10px; 
    flex: 1 1 calc(25% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

p {
    color: #FFFFFF; 
    font-weight: bold;
    padding-top: 10px;
    /* fix this padding to make it stand out more*/
}

h2 {
    background-color: #148ad3; 
    color: white; 
    padding: 10px;
    margin: -20px -20px 20px; 
    font-size: 1.5em; 
    text-align: center; 
}

ul {
    padding-left: 20px; 
    color: #FFFFFF;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}




/* Responsive Styles */
@media (max-width: 912px) {
    .box {
        flex: 1 1 100%;
    }
}
